---topics
-new
1/ID
Weaving/Name
1/Level
120/Time
0/X
0/Y
0/Requirement1
0/Requirement2
clothes.png/pic
-new
2/ID
Coal Burning/Name
1/Level
160/Time
0/X
4/Y
0/Requirement1
0/Requirement2
coal.png/pic
-new
3/ID
Trade +1/Name
1/Level
160/Time
0/X
10/Y
0/Requirement1
0/Requirement2
trade.png/pic
-new
4/ID
Cattle Breeding/Name
2/Level
200/Time
4/X
0/Y
1/Requirement1
0/Requirement2
cows.png/pic
-new
5/ID
Nature Studies/Name
2/Level
180/Time
4/X
6/Y
0/Requirement1
0/Requirement2
marshweed.png/pic
-new
6/ID
Trade +2/Name
2/Level
200/Time
4/X
10/Y
3/Requirement1
0/Requirement2
trade.png/pic
-new
7/ID
Bee Breeding/Name
2/Level
240/Time
6/X
0/Y
4/Requirement1
0/Requirement2
honey.png/pic
-new
8/ID
Tannery/Name
2/Level
240/Time
6/X
1/Y
1/Requirement1
4/Requirement2
leather.png/pic
-new
9/ID
Butchery/Name
2/Level
180/Time
6/X
3/Y
4/Requirement1
0/Requirement2
meat.png/pic
-new
10/ID
Revegetation/Name
2/Level
240/Time
6/X
5/Y
5/Requirement1
0/Requirement2
wood.png/pic
-new
11/ID
Florist/Name
2/Level
200/Time
6/X
6/Y
5/Requirement1
0/Requirement2
/pic
-new
12/ID
Anatomy/Name
2/Level
240/Time
6/X
7/Y
5/Requirement1
0/Requirement2
/pic
-new
13/ID
Enhanced Agriculture/Name
3/Level
280/Time
10/X
0/Y
7/Requirement1
0/Requirement2
/pic
-new
14/ID
Enhanced Cattle Breeding/Name
3/Level
320/Time
10/X
3/Y
9/Requirement1
0/Requirement2
/pic
-new
15/ID
Mining/Name
3/Level
280/Time
10/X
4/Y
2/Requirement1
0/Requirement2
/pic
-new
16/ID
Health +1/Name
3/Level
360/Time
10/X
9/Y
12/Requirement1
0/Requirement2
/pic
-new
17/ID
Trade +3/Name
3/Level
280/Time
10/X
11/Y
6/Requirement1
0/Requirement2
trade.png/pic
-new
18/ID
Exotic Agriculture/Name
3/Level
320/Time
12/X
0/Y
13/Requirement1
0/Requirement2
tobacco.png/pic
-new
19/ID
Baking/Name
3/Level
280/Time
12/X
1/Y
13/Requirement1
0/Requirement2
bread.png/pic
-new
20/ID
Fermentation/Name
3/Level
360/Time
12/X
2/Y
13/Requirement1
0/Requirement2
beer.png/pic
-new
21/ID
Iron Processing/Name
3/Level
320/Time
12/X
4/Y
15/Requirement1
0/Requirement2
ironore.png/pic
-new
22/ID
Sand Processing/Name
3/Level
240/Time
12/X
5/Y
15/Requirement1
0/Requirement2
sand.png/pic
-new
23/ID
Perfume/Name
3/Level
360/Time
12/X
6/Y
17/Requirement1
0/Requirement2
trade.png/pic
-new
24/ID
Trade 4/Name
3/Level
360/Time
12/X
10/Y
17/Requirement1
0/Requirement2
coal.png/pic
-new
25/ID
Chocolate/Name
3/Level
240/Time
14/X
0/Y
18/Requirement1
19/Requirement2
cocoabeans.png/pic
-new
26/ID
Dairy/Name
3/Level
300/Time
14/X
1/Y
20/Requirement1
0/Requirement2
milk.png/pic
-new
27/ID
Bricklaying/Name
3/Level
280/Time
14/X
5/Y
22/Requirement1
0/Requirement2
stone.png/pic
-new
28/ID
Enhanced Baking/Name
4/Level
360/Time
18/X
0/Y
25/Requirement1
26/Requirement2
cake.png/pic
-new
29/ID
Enhanced Fermentation/Name
4/Level
320/Time
18/X
2/Y
20/Requirement1
0/Requirement2
barrels.png/pic
-new
30/ID
Hunting/Name
4/Level
400/Time
18/X
3/Y
14/Requirement1
0/Requirement2
deer.png/pic
-new
31/ID
Deeper Mines/Name
4/Level
360/Time
18/X
4/Y
21/Requirement1
0/Requirement2
goldore.png/pic
-new
32/ID
Flintlock Guns/Name
4/Level
420/Time
18/X
5/Y
12/Requirement1
21/Requirement2
pistols.png/pic
-new
33/ID
Paper/Name
4/Level
320/Time
18/X
6/Y
10/Requirement1
0/Requirement2
paper.png/pic
-new
34/ID
Glass Production/Name
4/Level
360/Time
18/X
7/Y
22/Requirement1
0/Requirement2
glass.png/pic
-new
35/ID
Exotic Goods/Name
4/Level
420/Time
18/X
10/Y
24/Requirement1
0/Requirement2
tradeGold.png/pic
-new
36/ID
Confectionery/Name
4/Level
/Time
20/X
0/Y
28/Requirement1
0/Requirement2
chocolates.png/pic
-new
37/ID
Wine/Name
4/Level
380/Time
20/X
2/Y
29/Requirement1
0/Requirement2
icewine.png/pic
-new
38/ID
Gold Processing/Name
4/Level
420/Time
20/X
4/Y
31/Requirement1
0/Requirement2
gold.png/pic
-new
39/ID
Printing/Name
4/Level
400/Time
20/X
6/Y
33/Requirement1
0/Requirement2
books.png/pic
-new
40/ID
Liqour/Name
4/Level
480/Time
22/X
2/Y
37/Requirement1
0/Requirement2
liqour.png/pic
-new
41/ID
Advanced Smithing/Name
4/Level
480/Time
22/X
4/Y
32/Requirement1
38/Requirement2
jewelry.png/pic
-new
42/ID
Health 2/Name
4/Level
960/Time
22/X
8/Y
16/Requirement1
39/Requirement2
health.png/pic
-new
43/ID
Safety/Name
4/Level
480/Time
22/X
9/Y
0/Requirement1
0/Requirement2
health.png/pic
-new
44/ID
Trade 5/Name
4/Level
480/Time
22/X
10/Y
35/Requirement1
0/Requirement2
trade.png/pic
---connectors
-new
connectLR/Connection
1/X
0/Y
-new
connectLR/Connection
1/X
4/Y
-new
connectLR/Connection
1/X
10/Y
-new
connectLR/Connection
3/X
0/Y
-new
connectLR/Connection
3/X
4/Y
-new
connectLR/Connection
3/X
10/Y